USE [DTH_2210900029_QLNV]
GO
/****** Object:  Table [dbo].[DTH_2210900029_ChamCong]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_ChamCong](
	[DTH_2210900029_ID_ChamCong] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_ID_NV] [int] NULL,
	[DTH_2210900029_NgayLamViec] [date] NULL,
	[DTH_2210900029_GioVao] [time](7) NULL,
	[DTH_2210900029_GioRa] [time](7) NULL,
	[DTH_2210900029_TongGio] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_ChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTH_2210900029_CongViec]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_CongViec](
	[DTH_2210900029_ID_CongViec] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_TenCongViec] [nvarchar](255) NOT NULL,
	[DTH_2210900029_MoTa] [text] NULL,
	[DTH_2210900029_NgayGiao] [date] NULL,
	[DTH_2210900029_HanHoanThanh] [date] NULL,
	[DTH_2210900029_TrangThai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_CongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTH_2210900029_HopDong]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_HopDong](
	[DTH_2210900029_ID_HopDong] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_ID_NV] [int] NULL,
	[DTH_2210900029_LoaiHopDong] [nvarchar](50) NULL,
	[DTH_2210900029_NgayBatDau] [date] NULL,
	[DTH_2210900029_NgayKetThuc] [date] NULL,
	[DTH_2210900029_Email] [nvarchar](100) NULL,
	[DTH_2210900029_LuongCoBan] [decimal](10, 2) NULL,
	[DTH_2210900029_PhuCap] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_HopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTH_2210900029_Luong]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_Luong](
	[DTH_2210900029_ID_BangLuong] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_ID_NV] [int] NULL,
	[DTH_2210900029_Thang] [int] NULL,
	[DTH_2210900029_Nam] [int] NULL,
	[DTH_2210900029_TongGioLam] [decimal](5, 2) NULL,
	[DTH_2210900029_LuongCoBan] [decimal](10, 2) NULL,
	[DTH_2210900029_PhuCap] [decimal](10, 2) NULL,
	[DTH_2210900029_KhauTru] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_BangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTH_2210900029_NhanVien]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_NhanVien](
	[DTH_2210900029_ID_NV] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_HoTen] [nvarchar](100) NOT NULL,
	[DTH_2210900029_NgaySinh] [date] NULL,
	[DTH_2210900029_GioiTinh] [nvarchar](10) NULL,
	[DTH_2210900029_SDT] [varchar](15) NULL,
	[DTH_2210900029_Email] [nvarchar](100) NULL,
	[DTH_2210900029_DiaChi] [text] NULL,
	[DTH_2210900029_ChucVu] [nvarchar](50) NULL,
	[DTH_2210900029_TrangThai] [nvarchar](20) NULL,
	[DTH_2210900029_NgayVaoLam] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTH_2210900029_PhanCong]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_PhanCong](
	[DTH_2210900029_ID_PhanCong] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_ID_NV] [int] NULL,
	[DTH_2210900029_ID_CongViec] [int] NULL,
	[DTH_2210900029_NgayBatDau] [date] NULL,
	[DTH_2210900029_NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_PhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTH_2210900029_TaiKhoan]    Script Date: 3/7/2025 8:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTH_2210900029_TaiKhoan](
	[DTH_2210900029_ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[DTH_2210900029_ID_NV] [int] NULL,
	[DTH_2210900029_TenDangNhap] [nvarchar](255) NOT NULL,
	[DTH_2210900029_MatKhau] [nvarchar](255) NOT NULL,
	[DTH_2210900029_VaiTro] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DTH_2210900029_ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_ChamCong] ON 

INSERT [dbo].[DTH_2210900029_ChamCong] ([DTH_2210900029_ID_ChamCong], [DTH_2210900029_ID_NV], [DTH_2210900029_NgayLamViec], [DTH_2210900029_GioVao], [DTH_2210900029_GioRa], [DTH_2210900029_TongGio]) VALUES (1, 1, CAST(N'2024-02-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(8.00 AS Decimal(5, 2)))
INSERT [dbo].[DTH_2210900029_ChamCong] ([DTH_2210900029_ID_ChamCong], [DTH_2210900029_ID_NV], [DTH_2210900029_NgayLamViec], [DTH_2210900029_GioVao], [DTH_2210900029_GioRa], [DTH_2210900029_TongGio]) VALUES (2, 2, CAST(N'2024-02-20' AS Date), CAST(N'08:30:00' AS Time), CAST(N'17:30:00' AS Time), CAST(8.50 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[DTH_2210900029_ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_CongViec] ON 

INSERT [dbo].[DTH_2210900029_CongViec] ([DTH_2210900029_ID_CongViec], [DTH_2210900029_TenCongViec], [DTH_2210900029_MoTa], [DTH_2210900029_NgayGiao], [DTH_2210900029_HanHoanThanh], [DTH_2210900029_TrangThai]) VALUES (1, N'Cắt tỉa cây', N'Tao hinh cho cay', CAST(N'2024-02-01' AS Date), CAST(N'2024-02-10' AS Date), N'Chua làm')
INSERT [dbo].[DTH_2210900029_CongViec] ([DTH_2210900029_ID_CongViec], [DTH_2210900029_TenCongViec], [DTH_2210900029_MoTa], [DTH_2210900029_NgayGiao], [DTH_2210900029_HanHoanThanh], [DTH_2210900029_TrangThai]) VALUES (2, N'Chăm sóc cây ', N'Xem cay co bi sau ko', CAST(N'2024-01-15' AS Date), CAST(N'2024-02-15' AS Date), N'Ðang làm')
SET IDENTITY_INSERT [dbo].[DTH_2210900029_CongViec] OFF
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_HopDong] ON 

INSERT [dbo].[DTH_2210900029_HopDong] ([DTH_2210900029_ID_HopDong], [DTH_2210900029_ID_NV], [DTH_2210900029_LoaiHopDong], [DTH_2210900029_NgayBatDau], [DTH_2210900029_NgayKetThuc], [DTH_2210900029_Email], [DTH_2210900029_LuongCoBan], [DTH_2210900029_PhuCap]) VALUES (1, 1, N'Chinh thuc', CAST(N'2020-01-10' AS Date), CAST(N'2025-01-10' AS Date), N'nva@example.com', CAST(10000000.00 AS Decimal(10, 2)), CAST(2000000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DTH_2210900029_HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_Luong] ON 

INSERT [dbo].[DTH_2210900029_Luong] ([DTH_2210900029_ID_BangLuong], [DTH_2210900029_ID_NV], [DTH_2210900029_Thang], [DTH_2210900029_Nam], [DTH_2210900029_TongGioLam], [DTH_2210900029_LuongCoBan], [DTH_2210900029_PhuCap], [DTH_2210900029_KhauTru]) VALUES (1, 1, 3, 2025, CAST(300.00 AS Decimal(5, 2)), CAST(6000000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DTH_2210900029_Luong] OFF
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_NhanVien] ON 

INSERT [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV], [DTH_2210900029_HoTen], [DTH_2210900029_NgaySinh], [DTH_2210900029_GioiTinh], [DTH_2210900029_SDT], [DTH_2210900029_Email], [DTH_2210900029_DiaChi], [DTH_2210900029_ChucVu], [DTH_2210900029_TrangThai], [DTH_2210900029_NgayVaoLam]) VALUES (1, N'Nguyen Van A', CAST(N'1990-05-15' AS Date), N'Nam', N'0987654321', N'nva@example.com', N'HN', N'Nhân viên', N'Ðang làm', CAST(N'2020-01-10' AS Date))
INSERT [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV], [DTH_2210900029_HoTen], [DTH_2210900029_NgaySinh], [DTH_2210900029_GioiTinh], [DTH_2210900029_SDT], [DTH_2210900029_Email], [DTH_2210900029_DiaChi], [DTH_2210900029_ChucVu], [DTH_2210900029_TrangThai], [DTH_2210900029_NgayVaoLam]) VALUES (2, N'Do Trong Huy', CAST(N'1995-07-20' AS Date), N'Nam', N'2210900029', N'ttb@example.com', N'HCM', N'Quản lý', N'Ðang làm', CAST(N'2018-03-22' AS Date))
SET IDENTITY_INSERT [dbo].[DTH_2210900029_NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_PhanCong] ON 

INSERT [dbo].[DTH_2210900029_PhanCong] ([DTH_2210900029_ID_PhanCong], [DTH_2210900029_ID_NV], [DTH_2210900029_ID_CongViec], [DTH_2210900029_NgayBatDau], [DTH_2210900029_NgayKetThuc]) VALUES (1, 1, 1, CAST(N'2024-02-01' AS Date), CAST(N'2024-02-10' AS Date))
INSERT [dbo].[DTH_2210900029_PhanCong] ([DTH_2210900029_ID_PhanCong], [DTH_2210900029_ID_NV], [DTH_2210900029_ID_CongViec], [DTH_2210900029_NgayBatDau], [DTH_2210900029_NgayKetThuc]) VALUES (2, 2, 2, CAST(N'2024-01-15' AS Date), CAST(N'2024-02-15' AS Date))
SET IDENTITY_INSERT [dbo].[DTH_2210900029_PhanCong] OFF
GO
SET IDENTITY_INSERT [dbo].[DTH_2210900029_TaiKhoan] ON 

INSERT [dbo].[DTH_2210900029_TaiKhoan] ([DTH_2210900029_ID_TaiKhoan], [DTH_2210900029_ID_NV], [DTH_2210900029_TenDangNhap], [DTH_2210900029_MatKhau], [DTH_2210900029_VaiTro]) VALUES (1, 1, N'nguyenvana', N'123456', N'Nhân viên')
INSERT [dbo].[DTH_2210900029_TaiKhoan] ([DTH_2210900029_ID_TaiKhoan], [DTH_2210900029_ID_NV], [DTH_2210900029_TenDangNhap], [DTH_2210900029_MatKhau], [DTH_2210900029_VaiTro]) VALUES (2, 2, N'dotronghuy', N'1234567', N'Admin')
SET IDENTITY_INSERT [dbo].[DTH_2210900029_TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DTH_2210__32C7FA0E4DBEAEEA]    Script Date: 3/7/2025 8:25:30 AM ******/
ALTER TABLE [dbo].[DTH_2210900029_TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[DTH_2210900029_TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTH_2210900029_ChamCong]  WITH CHECK ADD FOREIGN KEY([DTH_2210900029_ID_NV])
REFERENCES [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV])
GO
ALTER TABLE [dbo].[DTH_2210900029_HopDong]  WITH CHECK ADD FOREIGN KEY([DTH_2210900029_ID_NV])
REFERENCES [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV])
GO
ALTER TABLE [dbo].[DTH_2210900029_Luong]  WITH CHECK ADD FOREIGN KEY([DTH_2210900029_ID_NV])
REFERENCES [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV])
GO
ALTER TABLE [dbo].[DTH_2210900029_PhanCong]  WITH CHECK ADD FOREIGN KEY([DTH_2210900029_ID_NV])
REFERENCES [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV])
GO
ALTER TABLE [dbo].[DTH_2210900029_PhanCong]  WITH CHECK ADD FOREIGN KEY([DTH_2210900029_ID_CongViec])
REFERENCES [dbo].[DTH_2210900029_CongViec] ([DTH_2210900029_ID_CongViec])
GO
ALTER TABLE [dbo].[DTH_2210900029_TaiKhoan]  WITH CHECK ADD FOREIGN KEY([DTH_2210900029_ID_NV])
REFERENCES [dbo].[DTH_2210900029_NhanVien] ([DTH_2210900029_ID_NV])
GO
